<div class="container">
    <div class="footer">
        <div class="footer-title">H.G. Randolph</div>
        <mat-divider class="mat-divider"></mat-divider>
        <div class="footer-body">For business inquiries or to contact the author, please email hgrandolph&#64;gmail.com<br/><br/>For more content, please follow the author on Instagram, Facebook, Twitter, or YouTube.</div>
        <div class="footer-social">
            <img class="footer-social-icon" src="../../assets/social/insta.svg" alt="instagram">
            <img class="footer-social-icon" src="../../assets/social/facebook.png" alt="facebook">
            <img class="footer-social-icon" src="../../assets/social/twitter.png" alt="twitter">
            <img class="footer-social-icon" src="../../assets/social/youtube.png" alt="youtube">
        </div>
        <div class="footer-copywrite">©2022 by H.G. Randolph.</div>
    </div>
</div>