<div class="container">
    <div class="guide">
        <div class="guide-container">
            <div class="guide-container-title">GUIDE</div>
            <mat-divider class="mat-dialog"></mat-divider>
            <div class="guide-container-subtitle">In case you find your self lost in the Elpeasia Universe</div>
        </div>
    </div>
    <div class="map">
        <img src="../../assets/photos/elpeasia-map.webp" alt="Map of Elpeasia">
        <div class="map-caption">This guide will be updated periodically with new releases. There may be minor spoilers ahead. You have been warned.</div>
    </div>
    <div class="characters" *ngIf="(characters$ | async) as characters">
        <div class="characters-container">
            <div class="characters-container-title">CHARACTERS</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="characters-container-body" *ngFor="let character of characters">
                <div class="characters-container-body-name">{{character.name}}</div>
                <div class="characters-container-body-bio">{{ character.bio }}</div>
            </div>
        </div>
    </div>
    <div class="countries" *ngIf="(countries$ | async) as countries">
        <div class="countries-container">
            <div class="countries-container-title">COUNTRIES</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="countries-container-desc">{{countriesDescription}}</div>
            <div class="countries-container-body" *ngFor="let country of countries">
                <div class="countries-container-body-name">{{country.name}}</div>
                <div class="countries-container-body-description">{{country.description}}</div>
            </div>
        </div>
    </div>
    <div class="terminology" *ngIf="(terminiology$ | async) as terminiologies">
        <div class="terminology-container">
            <div class="terminology-container-title">TERMINOLOY</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="terminology-container-body" *ngFor="let term of terminiologies">
                <div class="terminology-container-body-term">{{term.term}}</div>
                <div class="terminology-container-body-description">{{term.definition}}</div>
            </div>
        </div>
    </div>
    <div class="rules-of-magic" *ngIf="(magic$ | async) as magics">
        <div class="rules-of-magic-container">
            <div class="rules-of-magic-container-title">RULES OF MAGIC</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="rules-of-magic-container-body" *ngFor="let magic of magics">
                <div class="rules-of-magic-container-body-item">{{ magic.ruleDescription }}</div>
            </div>
        </div>
    </div>
</div>