@import "../_scss/mixins.scss";

.mat-divider {
    width: 17.75rem;
    border: 1px solid white;
    margin: 0.75rem 0;

    @include mobile {
        width: 90%;
    }
}

.container {
    height: 100%;
    width: 100%;
    background-color: #191919;
}

.guide {
    height: 100%;
    width: 100%;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;

        @include mobile {
            padding: 3rem 0;
        }

        &-title {
            font-size: 2.5rem;
            color: white;

            @include mobile {
                margin-bottom: 1rem;
            }
        }

        &-subtitle {
            font-size: 1rem;
            font-style: italic;
            font-weight: 200;
            color: white;

            @include mobile {
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: 100;
            }
        }
    }
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    > img {
        height: auto;
        width: 40rem;

        @include mobile {
            width: 25rem;
        }
    }

    &-caption {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 300;
        color: white;
        width: 30rem;
        line-height: 2rem;
        text-align: center;

        @include mobile {
            font-size: 1.2rem;
            font-weight: 100;
            margin: 0.5rem;
            width: 25rem;
        }
    }
}

.characters, .countries, .terminology, .rules-of-magic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem 0 0 0;
}

.characters {
    background-color: black;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        max-width: 60rem;
        margin: 0 10rem;

        @include mobile {
            max-width: 30rem;
            margin: 2rem;
        }

        &-title {
            font-size: 2.5rem;
            color: white;
            align-self: center;
        }
        
        > .mat-divider {
            align-self: center;
        }

        &-body {
            color: white;
            margin: 1.5rem 0;

            &-name {
                font-size: 1.25rem;
                font-style: italic;
            }

            &-bio {
                line-height: 2rem;
            }
        }
    }
}

.countries {

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 60rem;
        margin: 0 10rem;

        @include mobile {
            max-width: 30rem;
            margin: 2rem;
        }

        &-title {
            font-size: 2.5rem;
            color: white;
        }

        &-desc {
            color: white;
            line-height: 2rem;
            margin-bottom: 1rem;
        }

        &-body {
            margin: 1.5rem 0;
            color: white;

            &-name {
                font-size: 1.25rem;
                font-style: italic;
            }

            &-description {
                line-height: 2rem;
            }
        }
    }
}

.terminology {
    background-color: black;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 60rem;
        margin: 0 10rem;

        @include mobile {
            max-width: 30rem;
            margin: 2rem;
        }

        &-title {
            font-size: 2.5rem;
            color: white;
        }

        &-body {
            color: white;
            margin: 1.5rem 0;

            &-term {
                font-size: 1.25rem;
                font-style: italic;
            }

            &-description {
                line-height: 2rem;
            }
        }
    }
}

.rules-of-magic {

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 60rem;
        margin: 0 10rem;

        @include mobile {
            max-width: 30rem;
            margin: 2rem;
        }

        &-title {
            font-size: 2.5rem;
            color: white;
        }

        &-body {
            color: white;
            margin: 1.5rem 0;
            line-height: 2rem;
            font-style: italic;
            font-size: 1rem;
            font-weight: 200;
        }
    }
}