.mat-divider {
    width: 17.75rem;
    border: 1px solid white;
    margin: 0.75rem 0;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #191919;
}

.updates {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 0;
        width: 100%;
        
        &-title {
            font-size: 2.5rem;
            color: white;
        }
        
        &-update {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
            width: 100%;
            
            .wrapper {
                margin: 0 10rem;
                max-width: 80rem;
            }

            &-date {
                font-size: 0.8rem;
                font-style: italic;
                font-weight: 200;
                color: white;
                margin-bottom: 0.5rem;
            }

            &-subject {
                font-size: 1.25rem;
                color: white;
            }

            &-message {
                color: white;
            }
        }
    }
}

.even {
    background-color: #191919;
}

.odd {
    background-color: black;
}