<div class="container">
    <div class="updates" *ngIf="(posts$ | async) as posts">
        <div class="updates-container">
            <div class="updates-container-title">UPDATES FROM THE AUTHOR</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="updates-container-update" [ngClass]="{'odd': i % 2 !== 0, 'even': i % 2 === 0}" *ngFor="let post of posts; index as i;">
                <div class="wrapper">
                    <div class="updates-container-update-date">{{post.date | date:"fullDate"}}</div>
                    <div class="updates-container-update-title">{{post.title}}</div>
                    <div class="updates-container-update-message" [innerHTML]="post.body"></div>
                </div>
            </div>
        </div>
    </div>
</div>