@import '../_scss/mixins.scss';

.mat-divider {
    width: 17.75rem;
    border: 1px solid white;
    margin: 0.75rem 0;
}

.container {
    height: 100%;
    width: 100%;
}

.hero {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40rem;
        width: auto;
        padding: 5rem;

        @include mobile {
            flex-direction: column;
        }


        &-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40rem;
            width: 100%;

            @include mobile {
                height: 36rem;
            }

            > img {
                height: 40rem;
                @include mobile {
                    height: 36rem;
                }   
            }
        }

        &-titlegroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: white;

            &-title {
                font-size: 4rem;
                margin: 1rem;

                @include mobile {
                    font-size: 2rem;
                    margin: 1rem 0 0.33rem 0;
                }
            }

            &-subtitle {
                font-size: 1.25rem;
                font-style: italic;
            }
        }
    }
}

.about {

    &-container {

    }
}

.newsfeed {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10rem;

        @include mobile {
            flex-direction: column;
            padding: 1rem;
        }

        &-announcement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            width: 50%;
            height: 100%;
            margin: 3rem;

            @include mobile {
                margin: 0 0 3rem 0;
                width: 100%;
                align-items: center;
            }

            &-title {
                font-size: 2.5rem;
                line-height: 3rem;

                @include mobile {
                    font-size: 2rem;
                    line-height: 2.5rem;
                    text-align: center;
                }
            }

            &-date {
                font-size: 1rem;
                font-style: italic;
                font-weight: 300;
            }

            &-body {
                height: 100%;
                line-height: 1.75rem;

                @include mobile {
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: 200;
                }
            }
        }

        &-image {
            width: 50%;
            height: 100%;
            margin: 3rem;
            max-width: 30rem;

            @include mobile {
                width: 80%;
            }

            > img {
                width: 100%;
            }
        }
    }
}

.progress {
    padding: 5rem;
    background-color: white;

    @include mobile {
        padding: 0;
    }
}

.quote {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10rem;

        @include mobile {
            flex-direction: column-reverse;
            padding: 0;
        }

        &-quotegroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;
            margin: 2rem;

            @include mobile {
                width: 90%;
                text-align: center;

                > .mat-divider {
                    align-self: center;
                }
            }

            &-quote {
                line-height: 2rem;
                font-size: 1.5rem;
                color: white;
            }

            &-author {
                font-size: 1rem;
                font-style: italic;
                font-weight: 300;
                color: white;

                @include mobile {
                    align-self: center;
                    font-size: 1.2rem;
                }
            }
        }

        &-image {
            width: 50%;
            margin: 2rem;
            max-width: 40rem;

            @include mobile {
                width: 90%;
            }

            > img {
                width: 100%;
            }
        }
    }
}