.mat-divider {
    width: 17.75rem;
    border: 1px solid white;
    margin: 0.75rem 0;
}

.container {
    height: 100%;
    width: 100%;
}

.hero {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40rem;
        width: auto;
        padding: 5rem;

        &-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40rem;
            width: 100%;

            > img {
                height: 40rem;
            }
        }

        &-titlegroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: white;

            &-title {
                font-size: 4rem;
                margin: 1rem;
            }

            &-subtitle {
                font-size: 1.25rem;
                font-style: italic;
            }
        }
    }
}

.about {

    &-container {

    }
}

.newsfeed {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10rem;

        &-announcement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            width: 50%;
            height: 100%;
            margin: 3rem;

            &-title {
                font-size: 2.5rem;
                line-height: 3rem;
            }

            &-date {
                font-size: 1rem;
                font-style: italic;
                font-weight: 300;
            }

            &-body {
                height: 100%;
                line-height: 1.75rem;
            }
        }

        &-image {
            width: 50%;
            height: 100%;
            margin: 3rem;

            > img {
                width: 100%;
            }
        }
    }
}

.progress {
    padding: 5rem;
    background-color: white;
}

.quote {
    background-color: #191919;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10rem;

        &-quotegroup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;
            margin: 2rem;

            &-quote {
                line-height: 2rem;
                font-size: 1.5rem;
                color: white;
            }

            &-author {
                font-size: 1rem;
                font-style: italic;
                font-weight: 300;
                color: white;
            }
        }

        &-image {
            width: 50%;
            margin: 2rem;

            > img {
                width: 100%;
            }
        }
    }
}