<div class="container" *ngIf="(author$ | async) as author">
    <div class="hero">
        <div class="hero-container">
            <div class="hero-container-photo">
                <img src="../../assets/photos/author.png" alt="image of handsome bearded author in blue suit">
            </div>
            <div class="hero-container-titlegroup">
                <div class="hero-container-titlegroup-title">{{ author.name }}</div>
                <mat-divider class="mat-divider"></mat-divider>
                <div class="hero-container-titlegroup-subtitle"><p>{{ subtitle }}</p></div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about-container">
            <app-about [bgcolor]="'white'"></app-about>
        </div>
    </div>
    <div class="newsfeed" *ngIf="(newsletters$ | async) as newsletters">
        <div class="newsfeed-container" *ngFor="let newsletter of newsletters">
            <div class="newsfeed-container-announcement">
                <div class="newsfeed-container-announcement-title" [innerHTML]="newsletter.title"></div>
                <mat-divider class="mat-divider"></mat-divider>
                <div class="newsfeed-container-announcement-date">{{newsletter.date | date:"longDate"}}</div>
                <div class="newsfeed-container-announcement-body" [innerHTML]="newsletter.body"></div>
            </div>
            <div class="newsfeed-container-image">
                <img src="{{ newsletter.photoUrl }}" alt="">
            </div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-container">
            <app-progress></app-progress>
        </div>
    </div>
    <div class="quote">
        <div class="quote-container">
            <div class="quote-container-quotegroup">
                <div class="quote-container-quotegroup-quote">
                    "{{author.quote.quote}}"</div>
                <mat-divider class="mat-divider"></mat-divider>
                <div class="quote-container-quotegroup-author">{{author.quote.citation}}</div>
            </div>
            <div class="quote-container-image">
                <img src="{{author.quote.photoUrl}}" alt="photo of library">
            </div>
        </div>
    </div>
</div>
