<div class="container">
    <div class="works">
        <div class="works-container">
            <div class="works-container-titlegroup">
                <div class="works-container-titlegroup-title">WORKS</div>
                <mat-divider class="mat-divider"></mat-divider>
                <div class="works-container-titlegroup-subtitle">Discover Your Next Read in the Elpeasia Universe</div>
            </div>
            <div class="works-container-collection">
                <div class="work" *ngFor="let work of works">
                    <div class="work-photo">
                        <img src="{{work.photo}}" alt="">
                    </div>
                    <div class="work-info">
                        <div class="work-info-titlegroup">
                            <div class="work-info-title">{{work.title}}</div>
                            <mat-divider class="mat-divider"></mat-divider>
                        </div>
                        <div class="work-info-releaseDate">{{work.releaseDate}}</div>
                        <div class="work-info-details" [innerHTML]="work.details"></div>
                        <a class="work-info-link" href="{{work.link}}"><span *ngIf="work.link">Link:</span><br>{{work.link}}</a>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    <div class="notice">
        <div class="notice-container">
            <div class="notice-container-title">PLEASE STAY TUNED</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div class="notice-container-body">H.G. Randolph is on track to release a new novel every January, May, and September, so please feel free to check for updates on each new novel's progress. We appreciate you. Do not despair.</div>
        </div>
    </div>
</div>